<head>
	    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{{ site.title }}- {% if page.title %}{{ page.title }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

      <meta name="twitter:card" content="summary">
      <meta name="twitter:site" content="@neoelemento">
      <meta name="twitter:creator" content="@neoelemento">
      <meta name="twitter:domain" content="vishnupadmanabhan.com">
      
      {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
        <meta content="{{ page.title }}" property="twitter:title">
      {% else %}
        <meta content="{{ site.title }}" property="og:title">
      {% endif %}
      {% if page.excerpt %}
        <meta content="{{ page.excerpt }} | {{ page.content | strip_html | truncatewords: 30 }}" property="og:description">
        <meta content="{{ page.excerpt }} | {{ page.content | strip_html | truncatewords: 30 }}" property="twitter:description">
      {% else %}
        <meta content="{{ site.description }}" property="og:description">
        <meta content="{{ site.description }}" property="twitter:description">
      {% endif %}
      {% if page.banner %}
        <meta property="og:image" content="{{ page.banner }}">
        <meta property="twitter:image" content="{{ page.banner }}">
      {% endif %}
      <meta property="article:publisher" content="https://www.facebook.com/neoelemento/" />
      <meta property="article:author" content="https://www.facebook.com/neoelemento" />
      <link rel="icon" href="http://res.cloudinary.com/vishnupadmanabhan/image/upload/v1491302323/favicon.jpg" sizes="32x32">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" media="screen,projection">

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
</head>

