@import url("https://use.typekit.net/ybj1pvh.css");

/* Neo El */
@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-BoldItalic.eot');
	src: url('../font/NeoEl/NeoEl-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-BoldItalic.svg#NeoEl/NeoEl-BoldItalic') format('svg'),
		url('../font/NeoEl/NeoEl-BoldItalic.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-BoldItalic.woff') format('woff'),
		url('../font/NeoEl/NeoEl-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-Bold.eot');
	src: url('../font/NeoEl/NeoEl-Bold.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-Bold.svg#NeoEl/NeoEl-Bold') format('svg'),
		url('../font/NeoEl/NeoEl-Bold.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-Bold.woff') format('woff'),
		url('../font/NeoEl/NeoEl-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-Regular.eot');
	src: url('../font/NeoEl/NeoEl-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-Regular.svg#NeoEl/NeoEl-Regular') format('svg'),
		url('../font/NeoEl/NeoEl-Regular.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-Regular.woff') format('woff'),
		url('../font/NeoEl/NeoEl-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-Semibold.eot');
	src: url('../font/NeoEl/NeoEl-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-Semibold.svg#NeoEl/NeoEl-Semibold') format('svg'),
		url('../font/NeoEl/NeoEl-Semibold.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-Semibold.woff') format('woff'),
		url('../font/NeoEl/NeoEl-Semibold.ttf') format('truetype');		
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-SemiboldItalic.eot');
	src: url('../font/NeoEl/NeoEl-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-SemiboldItalic.svg#NeoEl/NeoEl-SemiboldItalic') format('svg'),
		url('../font/NeoEl/NeoEl-SemiboldItalic.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-SemiboldItalic.woff') format('woff'),
		url('../font/NeoEl/NeoEl-SemiboldItalic.ttf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Neo El';
	src: url('../font/NeoEl/NeoEl-Italic.eot');
	src: url('../font/NeoEl/NeoEl-Italic.eot?#iefix') format('embedded-opentype'),
        url('../font/NeoEl/NeoEl-Italic.svg#NeoEl/NeoEl-Italic') format('svg'),
		url('../font/NeoEl/NeoEl-Italic.woff2') format('woff2'),
		url('../font/NeoEl/NeoEl-Italic.woff') format('woff'),
		url('../font/NeoEl/NeoEl-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}


/* Josefin Sans */

@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-bold-webfont.eot');
    src: url('../font/josefin/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-bold-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-bold-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-bold-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-bolditalic-webfont.eot');
    src: url('../font/josefin/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-bolditalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-bolditalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-bolditalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-bolditalic-webfont.svg#josefin_sansbold_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-italic-webfont.eot');
    src: url('../font/josefin/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-italic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-italic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-italic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-italic-webfont.svg#josefin_sansregular') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-light-webfont.eot');
    src: url('../font/josefin/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-light-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-light-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-light-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-lightitalic-webfont.eot');
    src: url('../font/josefin/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-lightitalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-lightitalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-lightitalic-webfont.svg#josefin_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-regular-webfont.eot');
    src: url('../font/josefin/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-regular-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-semibold-webfont.eot');
    src: url('../font/josefin/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-semibold-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-semibolditalic-webfont.eot');
    src: url('../font/josefin/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: 600;
    font-style: italic;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-thin-webfont.eot');
    src: url('../font/josefin/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-thin-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-thin-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-thin-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Josefin Sans';
    src: url('../font/josefin/josefinsans-thinitalic-webfont.eot');
    src: url('../font/josefin/josefinsans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-thinitalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-thinitalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-thinitalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-thinitalic-webfont.svg#josefin_sansthin') format('svg');
    font-weight: 100;
    font-style: italic;

}

/* Ubuntu */
@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-Bold.eot');
	src: url('../font/ubuntu/Ubuntu-Bold.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-Bold.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-Bold.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-Bold.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-Bold.svg#Ubuntu-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu Condensed';
	src: url('../font/ubuntu/UbuntuCondensed-Regular.eot');
	src: url('../font/ubuntu/UbuntuCondensed-Regular.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/UbuntuCondensed-Regular.woff2') format('woff2'),
		url('../font/ubuntu/UbuntuCondensed-Regular.woff') format('woff'),
		url('../font/ubuntu/UbuntuCondensed-Regular.ttf') format('truetype'),
		url('../font/ubuntu/UbuntuCondensed-Regular.svg#UbuntuCondensed-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-Light.eot');
	src: url('../font/ubuntu/Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-Light.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-Light.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-Light.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-Light.svg#Ubuntu-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-BoldItalic.eot');
	src: url('../font/ubuntu/Ubuntu-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-BoldItalic.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-BoldItalic.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-BoldItalic.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-BoldItalic.svg#Ubuntu-BoldItalic') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-Italic.eot');
	src: url('../font/ubuntu/Ubuntu-Italic.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-Italic.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-Italic.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-Italic.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-Italic.svg#Ubuntu-Italic') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu.eot');
	src: url('../font/ubuntu/Ubuntu.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu.woff') format('woff'),
		url('../font/ubuntu/Ubuntu.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu.svg#Ubuntu') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-LightItalic.eot');
	src: url('../font/ubuntu/Ubuntu-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-LightItalic.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-LightItalic.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-LightItalic.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-LightItalic.svg#Ubuntu-LightItalic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-MediumItalic.eot');
	src: url('../font/ubuntu/Ubuntu-MediumItalic.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-MediumItalic.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-MediumItalic.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-MediumItalic.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-MediumItalic.svg#Ubuntu-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Ubuntu';
	src: url('../font/ubuntu/Ubuntu-Medium.eot');
	src: url('../font/ubuntu/Ubuntu-Medium.eot?#iefix') format('embedded-opentype'),
		url('../font/ubuntu/Ubuntu-Medium.woff2') format('woff2'),
		url('../font/ubuntu/Ubuntu-Medium.woff') format('woff'),
		url('../font/ubuntu/Ubuntu-Medium.ttf') format('truetype'),
		url('../font/ubuntu/Ubuntu-Medium.svg#Ubuntu-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* Fira code */

@font-face{
    font-family: 'Fira Code';
    src: url('../font/FiraCode/eot/FiraCode-Light.eot');
    src: url('../font/FiraCode/eot/FiraCode-Light.eot') format('embedded-opentype'),
         url('../font/FiraCode/woff2/FiraCode-Light.woff2') format('woff2'),
         url('../font/FiraCode/woff/FiraCode-Light.woff') format('woff'),
         url('../font/FiraCode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../font/FiraCode/eot/FiraCode-Regular.eot');
    src: url('../font/FiraCode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
         url('../font/FiraCode/woff2/FiraCode-Regular.woff2') format('woff2'),
         url('../font/FiraCode/woff/FiraCode-Regular.woff') format('woff'),
         url('../font/FiraCode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../font/FiraCode/eot/FiraCode-Medium.eot');
    src: url('../font/FiraCode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
         url('../font/FiraCode/woff2/FiraCode-Medium.woff2') format('woff2'),
         url('../font/FiraCode/woff/FiraCode-Medium.woff') format('woff'),
         url('../font/FiraCode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('../font/FiraCode/eot/FiraCode-Bold.eot');
    src: url('../font/FiraCode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
         url('../font/FiraCode/woff2/FiraCode-Bold.woff2') format('woff2'),
         url('../font/FiraCode/woff/FiraCode-Bold.woff') format('woff'),
         url('../font/FiraCode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}