---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url><loc>{{ site.url }}/</loc><priority>1.0</priority></url>
  <url><loc>{{ site.url }}/writing/</loc><priority>0.8</priority></url>
  <url><loc>{{ site.url }}/archive/</loc><priority>0.7</priority></url>
  <url><loc>{{ site.url }}/now/</loc><priority>0.6</priority></url>
  <url><loc>{{ site.url }}/about/</loc><priority>0.5</priority></url>
  {% for post in collections.posts %}
  <url>
    <loc>{{ site.url }}{{ post.url }}</loc>
    <lastmod>{{ post.date | dateISO }}</lastmod>
    <priority>0.9</priority>
  </url>
  {% endfor %}
</urlset>
